.signup-button {
  background-color: #1C2458; /* Replace with your desired color */
  color: white;
  padding: 10px 20px;
  border-radius: 8px; /* Adjust the curvature */
  text-align: center;
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Ensure button is not full-width */
  font-size: 16px;
  border: none; /* Remove default border if any */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth color transition */
}

.signup-button:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
}

/* Banner.css */
.banner-content {
  /* height: 100vh;  */
  /* width: 100%; */
  /* display: flex; */
  /* align-items: center; */
  /* background-color: #d2d5d7; */
}

.text-section {
  /* padding: 20px; */
  background-color: #1C2458;
  width: 40%;
  color: #faf7f7;
  height: 89vh;
  padding: 0;
  margin: 0;
  text-align: center;
}

.text{
  margin-left: 0 30px;
  padding: 30px;
}

.image-section {
   /* display: flex;  */
  /* justify-content: center; */
   /* align-items: center; */
  background-color:  #d2d5d7;
  padding: 0;
  margin: 0;
  height: auto;
}

.image-section img {
  /* width: 100%;
  height: 100%; */
  /* height: 10vh; */
  width: 100%;
  height: 89vh;
  
  border-radius: 8px;
}

.banner-container {
  position: relative;
  /* width: 100%; */
  /* max-height: 700px; */
  overflow: hidden;
}

.banner-content {
  position: relative;
}

.banner-image {
  width: 100%;
  height: auto;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 10px;
  /* font-weight: bold; */
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 8px;
  width: 100%;
}

.country {
  padding: 0 60px;
  list-style-type: none;
  text-align: center;
  justify-content: center;
  font-size: 10px;
}

.country1 {
  list-style-type: none;
  text-align: center;
  justify-content: center;
  font-size: 10px;
  padding: 0 10px;
  grid: auto / auto auto auto;
}

/* ImageCard.css */
.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 15px;
}

.card-text {
  font-size: 1rem;
  color: #555;
  margin-top: 10px;
}

.img-fluid {
  object-fit: cover;
}


